<form>
    <div class="mb-3">
        <label for="customerName" class="form-label">Customer Name</label>
        <input type="text" class="form-control" [(ngModel)] = "customerName" name="customerName">
    </div>
    <div class="mb-3">
        <label for="phoneNumber" class="form-label">Phone Number</label>
        <input type="text" class="form-control" [(ngModel)] = "phoneNumber" name="phoneNumber">
    </div>
    <button (click)="addCustomer()" *ngIf="customer.customerId==0" class="btn btn-primary">
        Add
    </button>
    <button (click)="updateCustomer()" *ngIf="customer.customerId!=0" class="btn btn-primary">
        Update
    </button>
</form>